*
!*.*
!*/
.vscode/
a.out
stress_test.cpp
out.txt
test.txt
contest/
# cph files
**/.cph/
**/*.bin
# stress testing files
a
b
b.out
gen
**/*.in
**/.DS_Store
*.out
gen.cc
a.out.dSYM/
manim/media/
manim/__pycache__/
scratch.cc

# polyman
testlib.h
**/testsets/tests
**/solutions-outputs
