Unfinished/
.vscode/
a.out
stress_test.cpp
out.txt
test.txt
contest/
# cph files
**/.cph/
**/*.bin
# stress testing files
a
b
b.out
gen
test*
**/*.in
.DS_Store
*.out
a.cc
b.cc
gen.cc
a.out.dSYM/
manim/media/
manim/__pycache__/
